<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apldv.tour"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <application
        android:name="com.apkdv.tour.model.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.apkdv.tour.view.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.apkdv.tour.view.RegActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.MainPagerActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.ManagerActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.MoneyActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.SelectActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.MessageActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="com.apkdv.tour.view.ShowActivity"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>
